<!DOCTYPE html>
<html>

<head>
  <title>User Login></title>
  <h1>User Login</h2>
</head>

<body>

  <form method='post'>
	<table>
		<tr>
			<td><label>Username</label></td>
			<td><input type='text' name='username' value='%(username)s'/>
				<span class="error" style="color: red">%(username_error)s</span>
			</td>
		</tr>
		<tr>
			<td><label>Password</label></td>
			<td><input type='password' name='password'/>
				<span class="error" style="color: red">%(password_error)s</span>
			</td>
		</tr>
  </table>
  <br>
  <input type="submit"/>

</form>

</html>
